In [95]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
df = pd.read_csv('Data/Tips/tips.csv')
df.head(3)

   Unnamed: 0  total_bill   tip     sex smoker  day    time  size
0           1       16.99  1.01  Female     No  Sun  Dinner     2
1           2       10.34  1.66    Male     No  Sun  Dinner     3
2           3       21.01  3.50    Male     No  Sun  Dinner     3

In [96]:
df.dtypes

Unnamed: 0      int64
total_bill    float64
tip           float64
sex            object
smoker         object
day            object
time           object
size            int64
dtype: object

In [97]:
#a
df=df.drop(columns = ['Unnamed: 0'])

In [98]:
# b
df.insert(7, "tip_pct", (df.tip / df.total_bill).round(2), True)
df.head(3)

   total_bill   tip     sex smoker  day    time  size  tip_pct
0       16.99  1.01  Female     No  Sun  Dinner     2     0.06
1       10.34  1.66    Male     No  Sun  Dinner     3     0.16
2       21.01  3.50    Male     No  Sun  Dinner     3     0.17

In [101]:
#c
pd.pivot_table(df, values=['total_bill', 'tip', 'size', 'tip_pct'], index=['sex', 'smoker'],
                      aggfunc=np.mean).round(2).rename(columns = {'total_bill':'total_bill average',
                                                                 'tip':'tip average',
                                                                 'size':'size average',
                                                                  'tip_pct': 'tip_pct average'})

               size average  tip average  tip_pct average  total_bill average
sex    smoker
Female No              2.59         2.77             0.16               18.11
       Yes             2.24         2.93             0.18               17.98
Male   No              2.71         3.11             0.16               19.79
       Yes             2.50         3.05             0.15               22.28

In [100]:
#d
#gp = df.groupby(['day'])['total_bill'].count()
pd.pivot_table(df, values=['size'], index=['day','time'], aggfunc=np.sum).rename(columns = {'size':'customers'})

             customers
day  time
Fri  Dinner         26
     Lunch          14
Sat  Dinner        219
Sun  Dinner        216
Thur Dinner          2
     Lunch         150