In [3]:
import pandas as pd
df = pd.read_csv("Data/Superbowls/Superbowls2020.csv")
df.head(5)

,Game,Date,Winner,Loser,Pts Winner,Pts Loser,City,Venue,Attendance
0,I,1967-01-15,Green Bay Packers,Kansas City Chiefs,35,10,"Los Angeles, California",Los Angeles Memorial Coliseum,61946
1,II,1968-01-14,Green Bay Packers,Oakland Raiders,33,14,"Miami, Florida",Miami Orange Bowl,75546
2,III,1969-01-12,New York Jets,Baltimore Colts,16,7,"Miami, Florida",Miami Orange Bowl,75389
3,IV,1970-01-11,Kansas City Chiefs,Minnesota Vikings,23,7,"New Orleans, Louisiana",Tulane Stadium,80562
4,V,1971-01-17,Baltimore Colts,Dallas Cowboys,16,13,"Miami, Florida",Miami Orange Bowl,79204

In [16]:
#a
df['Date'] = pd.to_datetime(df.Date)
df.sort_values('Date').head(1)['City']

0    Los Angeles, California
Name: City, dtype: object

In [21]:
#b
thisyear = (df['Date'] > '2020-01-01' ) & (df['Date'] <= '2020-12-31')
df.loc[thisyear]['City']

53    Miami Gardens, Florida
Name: City, dtype: object

In [28]:
#c
df['City'].value_counts().head(1)

New Orleans, Louisiana    10
Name: City, dtype: int64

In [56]:
#d
df['Winner'].value_counts().head(1)

New England Patriots    6
Name: Winner, dtype: int64

In [30]:
#e skip

In [44]:
#f
df['Margin'] = df['Pts Winner']-df['Pts Loser']
df.sort_values('Margin',ascending=False).head(1)

,Game,Date,Winner,Loser,Pts Winner,Pts Loser,City,Venue,Attendance,Margin
23,XXIV,1990-01-28,San Francisco 49ers,Denver Broncos,55,10,"New Orleans, Louisiana",Louisiana Superdome,72919,45

In [45]:
print("Biggest margin = 45")

Biggest margin = 45

In [48]:
#g
df['Total_Points'] = df['Pts Winner']+df['Pts Loser']
df.sort_values('Margin').head(1)

,Game,Date,Winner,Loser,Pts Winner,Pts Loser,City,Venue,Attendance,Margin,Total_Points
24,XXV,1991-01-27,New York Giants,Buffalo Bills,20,19,"Tampa, Florida",Tampa Stadium,73813,1,39

In [49]:
print("Lowest total number of points = 39")

Lowest total number of points = 39

In [58]:
#h
df['Loser'].value_counts().head(1)

New England Patriots    5
Name: Loser, dtype: int64

New England Patriots is the team lost the Superbowl the most times. However, the intersting fact is that it is also the team won the Superbowl the most times.