In [1]:
import pandas as pd
df = pd.read_csv('Data/HairEyeColor/HairEyeColor.csv')
df.head(3)

   Unnamed: 0   Hair    Eye   Sex  Freq
0           1  Black  Brown  Male    32
1           2  Brown  Brown  Male    53
2           3    Red  Brown  Male    10

In [2]:
df = df[['Hair','Freq']]
df.head(3)

    Hair  Freq
0  Black    32
1  Brown    53
2    Red    10

In [4]:
df = pd.get_dummies(df)
df.head(3)
#first row only black hair
#second row only brown hair
#thrid row onlt red hair

   Freq  Hair_Black  Hair_Blond  Hair_Brown  Hair_Red
0    32           1           0           0         0
1    53           0           0           1         0
2    10           0           0           0         1